@keyframes line-in-1 {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.s4hero {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  max-width: 75vw;
  font-weight: 800;
  color: #ffffff;

  font-size: 30px;
  @media (min-width: 500px)  { font-size: 44px; }
  @media (min-width: 700px)  { font-size: 70px; }
  @media (min-width: 900px)  { font-size: 80px; }
  @media (min-width: 1200px) { font-size: 100px; }
}

.s4word {
  display: block;
  width: 100%;
  text-align: center;
}

.s4emphasis {
  position: relative;
  margin: 0 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s4svg {
  width: 110%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  pointer-events: none;
}

.cross1 {
  opacity: 0;
  animation: line-in-1 0.15s ease forwards;
  animation-delay: 0.2s;
}
