@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
}

input {
  outline: none;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none; 
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}

*::-moz-scrollbar {
  display: none;
}

*::-moz-scrollbar-thumb {
  background-color: transparent; 
}
