.cardPlaceholder {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  padding: 20px;
  z-index: 21;
}

.cardInner {
  flex: 0 0 auto;
  width: calc(100vw - 40px);
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media (width >= 640px) {
    width: 380px;
  }

  @media (width >= 1024px) {
    width: 413px;
  }
}
