.s2text {
  font-size: 44px;
  font-weight: 900;
  font-family: inherit;
  color: #ffffff;
  text-align: center;
  @media (min-width: 500px)  { font-size: 70px;  }
  @media (min-width: 700px)  { font-size: 100px; }
  @media (min-width: 1400px) { font-size: 148px; }
}
